@model CategoryListViewModel

<div category-model="@Model.CategoringInfo" category-action="List"
     category-classes-enabled="true" category-class="btn btn-block" category-class-normal="btn-secondary"
     category-class-selected="btn-secondary">
</div>